.container {
  padding: 0 2rem;
}

.main {
  // min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 30px;
  font-family: 'SofiaPro-Light';
}

.title span {
  color: #21c67b;
  font-family: 'SofiaPro-Medium';
}

.title,
.description {
  text-align: center;
}

.nav {
  margin: 40px 0 0 0;
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.nav ul li a {
  font-size: 20px;
  font-family: 'SofiaPro-SemiBold';
}
