.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.nav {
  margin: 40px 0 0 0;
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav ul li a {
  font-size: 18px;
}
